<!DOCTYPE html>
<html>
@{
  ViewBag.Title = "Index";
}

<head>
  <link rel="stylesheet" href="/css/index.css" />
  <script src="/site.js"></script>
</head>

<body>
  <div class="container-index">
    <button class="plant-button" onclick="navigateToNewNote()">Plant a tree!</button>
    <div class="image-wrapper">
      <img class="logo" src="/img/index2.png" alt="">
      <img class="spin-image" src="/img/index_background.png" alt="">
      <img class="thought" src="/img/thought.png" alt="" style="width: 80px; top: 50px; right: 420px; z-index:2">
    </div>
  </div>
  </div>
</body>

</html>
